<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/home.css">
</head>

<body>

  <div class="container">
    <% if (message) { %>
      <div class="alert alert-<%= type %> alert-dismissible fade show " role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <strong>
          <%= message %>
        </strong>
      </div>
      <% } %>
        
      <form class="quiz-upload" method="post" action="/uploadExcel" enctype="multipart/form-data">
          <h2>Upload a Quiz Excel file</h2>
          <input type="file" name="excel" accept=".xlsx, .xls" required>
          <button class="btn" type="submit">Upload</button>
        </form>

        <ul class="list-container">
          <li > 
            <% if(quizzes !=undefined) { %>
              <% quizzes.forEach((quiz)=> { %>
                <div class="item-container">
                  <p id="name">
                    <%= quiz.quiz_name %>
                  </>
                  <form action="/getResult" method="post">
                    <input type="hidden" name="quizId" value="<%= quiz._id %>">
                    <button class="btn" type="submit">Get results</button>
                  </form>
                </div>
                <% }); %>
              <% } %>
          </li>
        </ul>
  </div>

</body>

</html>