* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    overflow: hidden;
    object-fit: contain;
    background-image: url(logo.png);
    background-blend-mode: soft-light;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff20081;
}

.quiz-upload {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
}

.quiz-upload button{
    width: 120px;
    background-color: rgb(48, 114, 255);
    color: white;
}

li {
    list-style: none;
    
    
}

.item-container{
    padding: 1rem;
    background-color: rgb(48, 114, 255);
    margin: 0.5rem;
    border-radius: 8px;
}

.list-container {
    padding: 10px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    max-width: 700px;
    margin: 0 auto;
    justify-content: space-between;
    gap  : 1rem;
}

#name {
    margin-top: 10px;
    font-size: 1.2rem;
    color: white;
}
b{
    color: white;

}

.btn {
    padding: 12px;
    border: none;
    align-self: center;
    border-radius: 10px;
    background-color: white;
    color: rgb(48, 114, 255);
    cursor: pointer;
}

.btn:hover {
    padding: 12px;
    border: none;
    border-radius: 10px;
    background-color: gainsboro;
    color: black;
}