* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('logo.png');
    background-blend-mode: soft-light;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(255, 242, 0, 0.5); /* Adjusted background color transparency */
    overflow-x: hidden; /* Ensures horizontal overflow is hidden */
    min-height: 100vh; /* Ensures the body takes up at least the full viewport height */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
}

.card {
    background-color: rgba(255, 255, 255, 0.9);
    width: 90%; /* Adjusted width to be responsive */
    max-width: 500px; /* Maximum width for larger screens */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    font-weight: 600;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input[type="text"],
input[type="password"] {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f6f6f6;
    outline: none;
    transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #6d96fe; /* Highlight border color on focus */
}

button {
    background-color: #6d96fe;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0048e5; /* Darker shade on hover */
}
